home-assistant_v2.db
home-assistant.log
/.storage
/.cloud
/tts
/deps
/blueprints
/themes
/www/community
.ip_authenticated.yaml
aircast.xml
home-assistant.code-workspace
secrets.yaml
googlecloud.json
/custom_components
webostv.conf
